@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    font-family: 'Numans', sans-serif;
}


.centerlogo {
    position: absolute;
    margin: -40px;
    z-index: 5;
    text-align: center;
    left: 50%;
}

.image-size {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}


.mt10 {
    margin-top: 10px;
}

.pd15-8 {
    padding: 0 15px 8px 0 !important;
}

.modal-txt-edit {
    text-align: center;
    font-size: 12px;
}


img.carousel-image {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.carousel-button-mb {
    margin-bottom: 150px;
}