/* Made with love by Mutiullah Samim*/

.container {
    height: 100%;
}

.card {
    height: 470px;
    margin-top: 20px;
    margin-bottom: auto;
    width: 80%;
    /* background-color: rgba(0, 0, 0, 0.5) !important; */
}

.card-update {
    background-color: #dd4b2f;
    border-bottom: 1px solid #dd4b2f;
    color: white;
}

hr.hr-style {
    height: x;
    border: 1px solid white;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.label-style {
    width: 150px;
    color: #113c61;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    background-color: #dd4b2f;
    width: 100px;
    color: white;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.profile-usermenu ul li.overview {
    border-bottom: none;
    z-index: 2;
    color: #fff;
    background-color: #dd4814;
    border-color: #dd4814;
}

#output_image {
    max-width: 300px;
    margin-top: 10px;
}