/* General start */
@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    /* background: url('https://images.wallpaperscraft.com/image/line_angle_light_color_43982_1920x1080.jpg') no-repeat; */
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
}



.body-padding {
    padding: 15px;
}

/* General end */


/* nav start */
/* .nav-background-color {
    background-color: #9ef5f8;
}

.navbar-brand {
    color: #7b4444;
}

.nav-background-color li a {
    color: #7b4444;
} */

.dropdown-toggle-hide::after {
    display: none !important;
}

.notification-badge {
    position: relative;
    right: 11px;
    top: -11px;
    color: #941e1e;
    background-color: none;
    margin: 0 -0.1em;
    border-radius: 50%;
    padding: 5px;
}

.nav-image {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

/* nav end */

.prof-box {
    padding: 30px;
    color: #22252a;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 90%;
    border: 2px solid #dd4b2f;
}

.prof-pic {
    width: 100%;
    max-width: 185px;
    max-height: 185px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

h1 {
    font-weight: 100;
    letter-spacing: 6;
    font-size: 25px;
}

.profile-usermenu {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    color: #5b9bd1;
    text-decoration: none;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: white;
    border-left: 2px solid #dd4814;
    margin-left: -2px;
}

.list-size {
    width: 30px;
}

.profile-usermenu ul li.overview {
    border-bottom: none;
    z-index: 2;
    color: #fff;
    background-color: #dd4814;
    border-color: #dd4814;
    cursor: pointer;
}

.profile-usermenu ul li.overview a {
    color: white;
}